PORT=''
JWT_SECRET = 
HOST = ''
DIALECTDB = 
PORTDB = 
USERNAMEDB = ''
PASSWORDDB = ''
DATABASE = ''
SSL = true

# Credenciales para el envio de correos
HOST_MAILTRAP = 
PORT_MAILTRAP = 
USER_MAILTRAP = 
PASS_MAILTRAP = 

# Varaibles de entorno para la API
URLDOMAIN = ''
PRODUCCION = FALSE || TRUE
URLDOMAINWEB = 's'